<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trashboys | Home</title>
    <link rel="stylesheet" href="../../static/css/home/style.css">
</head>
<body>
    <header>
        <div id="cabecalho">
            <nav id="aba">
                <button id="botao-aba"><img id="menu-img" src="../../static/assets/images/login/menu.png" alt=""></button>
            </nav>
            <div id="notificacao-perfil">
                <div id="notificacao"><img id="sino-img" src="../../static/assets/images/login/sino.png" alt=""></div>
                <div id="perfil"><img id="foto-perfil-img" src="../../static/assets/images/login/perfil.jpg" alt=""></div>
            </div>
        </div>
    </header>
    <main>
        <div id="aba_do_lado">
            <div id="elements">
                <h2 id="trashboys-h2"></h2>
                <form id="aba-pesquisa" action="">
                    <img id="lupa-img" src="../../static/assets/images/login/lupa.png" alt="">
                    <input id="pesquisar"></input>
                </form>
                <div id="menu">
                    <div id="home" class="menu-itens">
                        <img id="home-img" src="../../static/assets/images/login/casa.jpg" alt="">
                        <input id="botao-home" type="submit" value="Home">
                    </div>
                    <div id="following" class="menu-itens">
                        <img id="following-img" src="../../static/assets/images/login/following.png" alt="">
                        <input id="botao-following" type="submit" value="Following">
                    </div>
                </div>
                <div id="playlist">
                    <div id="nome-play">
                        <img id="playlist-img" src="../../static/assets/images/login/playlist.png" alt="">
                        <input id="botao-playlist" type="submit" value="Playlist">
                        <img class="mais-img" src="../../static/assets/images/login/mais.png" alt="">
                    </div>
                    <div class="msc-playlist">
                        <div class="msc-play-aba-img">
                            <img class="listas-de-reprod" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="">
                        </div>
                        <div class="msc-play-nome-msc">
                            <h2 class="musicas-da-lista-de-reprod">Playlist Name</h2>
                            <h3 class="eu-dono">Me</h3>
                        </div>
                    </div>
                    <div class="msc-playlist">
                        <div class="msc-play-aba-img">
                            <img class="listas-de-reprod" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="">
                        </div>
                        <div class="msc-play-nome-msc">
                            <h2 class="musicas-da-lista-de-reprod">Playlist Name</h2>
                            <h3 class="eu-dono">Me</h3>
                        </div>
                    </div>
                    <div class="msc-playlist">
                        <div class="msc-play-aba-img">
                            <img class="listas-de-reprod" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="">
                        </div>
                        <div class="msc-play-nome-msc">
                            <h2 class="musicas-da-lista-de-reprod">Playlist Name</h2>
                            <h3 class="eu-dono">Me</h3>
                        </div>
                    </div>
                    <div class="msc-playlist">
                        <div class="msc-play-aba-img">
                            <img class="listas-de-reprod" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="">
                        </div>
                        <div class="msc-play-nome-msc">
                            <h2 class="musicas-da-lista-de-reprod">Playlist Name</h2>
                            <h3 class="eu-dono">Me</h3>
                        </div>
                    </div>
                </div>
                <div id="recentes">
                    <div id="nome-recentes">
                        <img id="recentes-img" src="../../static/assets/images/login/nota_musical.png" alt="">
                        <input id="botao-recentes" type="submit" value="Recently Played">
                    </div>
                    <div class="msc-recentes">
                        <div class="msc-playlist">
                            <div class="msc-play-aba-img">
                                <img class="listas-de-reprod" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="">
                            </div>
                            <div class="msc-play-nome-msc">
                                <h2 class="musicas-da-recentes">Music</h2>
                                <h3 class="eu-dono">Artist</h3>
                            </div>
                        </div>
                    </div>
                    <div class="msc-recentes">
                        <div class="msc-playlist">
                            <div class="msc-play-aba-img">
                                <img class="listas-de-reprod" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="">
                            </div>
                            <div class="msc-play-nome-msc">
                                <h2 class="musicas-da-recentes">Music</h2>
                                <h3 class="eu-dono">Artist</h3>
                            </div>
                        </div>
                    </div>
                    <div class="msc-recentes">
                        <div class="msc-playlist">
                            <div class="msc-play-aba-img">
                                <img class="listas-de-reprod" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="">
                            </div>
                            <div class="msc-play-nome-msc">
                                <h2 class="musicas-da-recentes">Music</h2>
                                <h3 class="eu-dono">Artist</h3>
                            </div>
                        </div>
                    </div>
                    <div class="msc-recentes">
                        <div class="msc-playlist">
                            <div class="msc-play-aba-img">
                                <img class="listas-de-reprod" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="">
                            </div>
                            <div class="msc-play-nome-msc">
                                <h2 class="musicas-da-recentes">Music</h2>
                                <h3 class="eu-dono">Artist</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pag-principal">
            <v id="elementos-principais">
                <div id="img-1">
                </div>
                <div id="lista-1">
                    <div id="nome-lista1">
                        <h2>Most Played</h2>
                    </div>
                    <div id="mscs-lista1">
                        <div class="msc-1">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-1">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-1">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-1">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-1">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-1">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                    </div>
                </div>
                <div id="lista-2">
                    <div id="nome-lista2">
                        <h2>For you</h2>
                    </div>
                    <div id="mscs-lista2">
                        <div class="msc-2">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-2">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-2">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-2">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-2">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                        <div class="msc-2">
                            <img class="item-musica" src="../../static/assets/images/login/musica-wallpaper.jpg" alt="Song">
                            <h3>Music</h3>
                            <h4>Artist</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../../static/js/home/script.js"></script>
</body>
</html>































<!--
{% extends "shared/layout.html" %}


{% block content %}
    


 <div class="container container-lg">
    <h1>All Posts</h1>
<div class="row">


    {% if posts %}
    
    <section class="section margin-top-large">
        <div class="container container-lg">
            <h1>Songs</h1>
        <div class="row">
            {% for post in posts %}
            <div class="col-fill col">
            <a href="{{ url_for('posts.show', id=post.id) }}" class="text-primary">
                {% if post.image %}
                    <img src="{{url_for('media.upload', name=post.image)}}" alt="{{post.title}}">
                {% endif %}
                <h2 class="text-center">
                    {{post.title}}
                </h2>
            </a>
            </div>
            {% endfor %}
        </div>
        </div>
    </section>
    {% else %}
    <h4>
        Nothing to do here
    </h4>
    {% endif %} 
{% endblock content %}
-->