{% extends "shared/layout.html" %}


{% block content %}
    


 <div class="container container-lg">
    <h1>All Posts</h1>
<div class="row">


    {% if posts %}
    
    <section class="section margin-top-large">
        <div class="container container-lg">
            <h1>Songs</h1>
        <div class="row">
            {% for post in posts %}
            <div class="col-fill col">
            <a href="{{ url_for('posts.show', id=post.id) }}" class="text-primary">
                {% if post.image %}
                    <img src="{{url_for('media.upload', name=post.image)}}" alt="{{post.title}}">
                {% endif %}
                <h2 class="text-center">
                    {{post.title}}
                </h2>
            </a>
            </div>
            {% endfor %}
        </div>
        </div>
    </section>
    {% else %}
    <h4>
        Nothing to do here
    </h4>
    {% endif %} 
{% endblock content %}