<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="" method='post'>
{{form.csrf_token}}
{{form.fullname.label}}
{{form.fullname}}
{{form.username.label}}
{{form.username}}
{{form.email.label}}
{{form.email}}
{{form.password.label}}
{{form.password}}
{{form.gender.label}}
{{form.gender}}
{{form.birth.label}}
{{form.birth}}
{{form.submit}}
</form>
</body>
</html>