<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trashboys Hub!</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('categories.new') }}">Register category</a>
                <a href="{{ url_for('posts.new') }}">Register post</a>
            </li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}
        
        {% endblock content %}
    </main>
</body>
</html>