<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trashboys Hub!</title>
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css">
    <link rel="stylesheet" href="/assets/custom.css">
</head>

<body>


    {% include "shared/menu.html" %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}
        
        {% endblock content %}
    </main>

    {% include "shared/footer.html" %}
</body>
</html>