<nav class="border container container-lg split-nav margin-top">
    <div class="nav-brand">
      <h3><a href="/">Trashboys Hub</a></h3>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          <li><a href="{{ url_for('posts.new') }}">New post</a></li>
          <li><a href="{{ url_for('categories.new') }}">Register category</a></li>
        </ul>
      </div>
    </div>
  </nav>