<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trashboys | Register</title>
    <link rel="shortcut icon" href="../../static/assets/images/login/trashboys-logo-ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/register/style.css">
</head>
<body>
    <header id="cabecalho">
        <div id="div-navs">
            <div id="div-logo-peq">
                <article id="logo">
                </article>
            </div>
        </div>
        <div id="sombra-cabecalho">
            <div id="links-internos">
                <a href="{{ url_for('login.login_') }}" id="login_header" class="navs">Login</a>
                <a href="{{ url_for('login.register') }}" id="signin-header" class="navs">Sign Up</a>
            </div>
        </div>
    </header>
    <main id="menu">
        <div id="elements">
            <div id="aba-login">
                <h1 id="login">Create new account</h1>
                <div id="fazer-o-login">
                    <p>Already A Member?</p>
                    <a id="link" href="{{url_for('login.login_')}}">Login</a>
                </div>
                <div id="forms">
                    <form id="form-geral" method="post">
                        {{form.csrf_token}}
                        <div id="credenciais">
                            <div id="name-and-user">
                                <div id="nome">
                                    {{form.fullname.label}}
                                    {{form.fullname(id_="form-nome", placeholder="full name")}}
                                </div>
                                <div id="user">
                                    {{form.username.label}}
                                    {{form.username(id_="form-username", placeholder="username")}}
                                </div>
                            </div>
                            <div id="email-e-senha">
                                <div id="email">
                                    {{form.email.label}}
                                    {{form.email(id_="form-email", placeholder="email")}}
                                </div>
                                <div id="senha">
                                    {{form.password.label}}
                                    {{form.password(id_="form-senha", placeholder="*********")}}
                                </div>
                            </div>
                            <div id="aniversario-e-genero">
                                <div id="genero">
                                    {{form.gender.label}}
                                    {{form.gender(id_="form-genero")}}
                                </div>
                                <div id="aniversario">
                                    {{form.birth.label}}
                                    {{form.birth(id_="form-niver")}}
                                </div>
                            </div>
                            <div id="botoes">
                                {{form.submit(id_="botao-registro")}}
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div id="titulo-mob">
                    <article id="titles">
                        <div id="subs">
                            <h2 id="subtitulo-1">Tune into the Beat:</h2>
                            <h2 id="subtitulo-2">Limitless Music at</h2>
                        </div>
                        <h1 id="trashboys">Trashboys Hub</h1>
                    </article>
                <img id="logo-grande" src="../../static/assets/images/login/trashboys_logo-transformed.png" alt="Trashboys">
            </div>
        </div>
        <div id="sombra">
            <article id="imagem">
            </article>
        </div>
    </main>
    <script src="../../static/js/register/script.js"></script>
</body>
</html>