<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trashboys | Register</title>
    <link rel="shortcut icon" href="../../static/assets/images/login/trashboys-logo-ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/register/style.css">
</head>
<body>
    <header id="cabecalho">
        <div id="div-navs">
            <div id="div-logo-peq">
                <article id="logo">
                </article>
            </div>
        </div>
        <div id="sombra-cabecalho">
            <div id="links-internos">
                <button id="login_header" class="navs">Login</button>
                <button id="signin-header" class="navs">Sign-in</button>
            </div>
        </div>
    </header>
    <main id="menu">
        <div id="elements">
            <div id="aba-login">
                <h1 id="login">Create new account</h1>
                <div id="fazer-o-login">
                    <p>Already A Member?</p>
                    <a id="link" href="">Login</a>
                </div>
                <div id="forms">
                    <form id="form-geral" method="post">
                        <div id="credenciais">
                            <div id="name-and-user">
                                <div id="nome">
                                    <label for="">Name</label>
                                    <input id="form-nome" type="text">
                                </div>
                                <div id="user">
                                    <label for="">Username</label>
                                    <input id="form-username" type="text">
                                </div>
                            </div>
                            <div id="email-e-senha">
                                <div id="email">
                                    <label for="">Email</label>
                                    <input id="form-email" type="text">
                                </div>
                                <div id="senha">
                                    <label for="">Password</label>
                                    <input id="form-senha" type="text">
                                </div>
                            </div>
                            <div id="aniversario-e-genero">
                                <div id="genero">
                                    <label for="">Gênero</label>
                                    <select name="" id="form-genero">
                                        <option value="Selecione">Select</option>
                                        <option value="Masculino">Male</option>
                                        <option value="Feminino">Female</option>
                                        <option value="Transgênero">Transgender</option>
                                        <option value="Não Binario">Non-Binary</option>
                                        <option value="Outro">Other</option>
                                    </select>
                                </div>
                                <div id="aniversario">
                                    <label for="">Data de Nascimento</label>
                                    <input id="form-niver" type="date">
                                </div>
                            </div>
                            <div id="botoes">
                                <input id="botao-registro" type="submit" value="Register">
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div id="titulo-mob">
                    <article id="titles">
                        <div id="subs">
                            <h2 id="subtitulo-1">Tune into the Beat:</h2>
                            <h2 id="subtitulo-2">Limitless Music at</h2>
                        </div>
                        <h1 id="trashboys">Trashboys Hub</h1>
                    </article>
                <img id="logo-grande" src="../../static/assets/images/login/trashboys_logo-transformed.png" alt="Trashboys">
            </div>
        </div>
        <div id="sombra">
            <article id="imagem">
            </article>
        </div>
    </main>
    <script src="../../static/js/register/script.js"></script>
</body>
</html>
<!--  
<form action="" method='post'>
{{form.csrf_token}}
{{form.fullname.label}}
{{form.fullname}}
{{form.username.label}}
{{form.username}}
{{form.email.label}}
{{form.email}}
{{form.password.label}}
{{form.password}}
{{form.gender.label}}
{{form.gender}}
{{form.birth.label}}
{{form.birth}}
{{form.submit}}
</form>
-->  