@font-face {
    font-family: 'font trash';
    src: url('../../assets/fonts/login/Charcuterie-Block-W05-Regular.ttf') format('truetype');
}

body{
    margin: 0px;
    background-image: linear-gradient(to right, #0B0F1B, #172039, #1e2741);
    box-shadow: inset 550px 0px 400px #0B0F1B;
}

#signin-header{
    cursor: pointer;
}

#login_header{
    cursor: pointer;
}

#cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

#sombra-cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 573px;
    height: 68px;
    background-color: #1e2741;
}

#div-navs{
    display: flex;
    align-items: center;
    gap: 140px;
    width: 793px;
    height: 68px;
    background-image: linear-gradient(to right, #0B0F1B, #172039, #1e2741);
}

#div-logo-peq{
    display: flex;
    justify-content: center;
    width: 140px;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/login/trashboys\ logo.png);
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgb(126, 126, 126);
}

#links-internos{
    display: flex;
    justify-content: center;
    gap: 140px;
}

.navs{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: none;
    border: none;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #0B0F1B, #172039, #1e2741);
}

#elements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0px;
    width: 724px;
    height: 573px;
    background-image: linear-gradient(to right, #0B0F1B, #172039, #1e2741);
    padding-left: 70px;
}

#aba-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 38px;
    width: 450px;
    height: 500px;
    background-color: #0d111f;
    border-radius: 20px;
}

#fazer-o-login{
    display: flex;
    align-items: center;
}

#login{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: normal;
}

#fazer-o-login{
    display: flex;
    justify-content: center;
    gap: 5px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 155, 155);
}

#forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

#email{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
}

#senha{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
}

#form-email{
    border-radius: 15px;
    height: 30px;
    width: 250px;
    background-color: #262a36;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(168, 168, 168);
}

#form-senha{
    border-radius: 15px;
    height: 30px;
    width: 250px;
    background-color: #262a36;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(168, 168, 168);
}

#botoes{
    display: flex;
    justify-content: center;
}

#credenciais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#form-geral{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

input[type="text"] {
    padding: 5px;
}

input[type="password"] {
    padding: 5px;
}


#botao-login{
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    width: 50%;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #2f3853;
    border: 0px;
}

a{
    text-decoration: none;
}

#div-img{
    width: 500px;
    height: 500px;
}

#jogando-dados{
    width: 500px;
    height: 500px;
}

#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 159px 100px 100px #1e2741;
    background-image: url(../../assets/images/login/Capa_apagada.png);
    width: 572px;
    height: 573px;
    background-size: cover;
}

#sombra{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#titulo-mob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-right: 6px;
}

#trashboys{
    display: flex;
    justify-content: center;
    width: 338px;
    font-family: 'font trash';
    color: white;
    font-size: 56px;
    font-weight: normal;
    margin: 0px;
    font-style: italic;
}

#titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#subs{
    display: flex;
    flex-direction: column;
}


#subtitulo-1{
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(209, 209, 209);
    font-size: 19px;
    width: 200px;
    margin-left: 0px;
    font-weight: normal;
}

#subtitulo-2{
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(209, 209, 209);
    font-size: 19px;
    width: 200px;
    margin-right: 0px;
    font-weight: normal;
}



@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}


#logo-grande{
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 220px;
    height: 220px;
}